<head>
    <style>
        .calendar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="calendar pt-40">
        <div class="row flex items-center">
            <h2 class="date-label text-7xl font-bold inline mr-32">April 4</h2>
            <button class="w-48 h-20 bg-gray-600 hover:bg-gray-700 text-white font-bold rounded text-4xl inline">
                매칭 내역
            </button>
        </div>

        <br><br><br><br>
        <div>
            <div class="flex">
                <div class="w-20 h-20 text-black font-blod text-4xl inline text-center">
                    Mon
                </div>
                <div class="w-20 h-20 text-black font-blod text-4xl inline text-center">
                    Tue
                </div>
                <div class="w-20 h-20 text-black font-blod text-4xl inline text-center ">
                    Wen
                </div>
                <div class="w-20 h-20 text-black font-blod text-4xl inline text-center ">
                    Thr
                </div>
                <div class="w-20 h-20 text-black font-blod text-4xl inline text-center ">
                    Fri
                </div>
                <div class="w-20 h-20 text-blue-500 font-blod text-4xl inline text-center">
                    Sat
                </div>
                <div class="w-20 h-20 text-red-500 font-blod text-4xl inline text-center">
                    Sun
                </div>
            </div>
            <div class="flex">
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline invisible">
                    1
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline invisible">
                    2
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline invisible">
                    3
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline">
                    4
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline">
                    5
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-blue-500 font-bold rounded text-4xl inline">
                    6
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-red-500 font-bold rounded text-4xl inline">
                    7
                </button>
            </div>
            <div class="flex">
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline">
                    8
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline">
                    9
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline">
                    10
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline invisible">
                    11
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-black font-bold rounded text-4xl inline invisible">
                    12
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-blue-500 font-bold rounded text-4xl inline invisible">
                    13
                </button>
                <button class="w-20 h-20 bg-white-600 hover:bg-gray-300 text-red-500 font-bold rounded text-4xl inline invisible">
                    14
                </button>
            </div>
        </div>
        

        
    </div>
</body>