<div>
    <h2>Join</h2>
    <form method="post" id="join-form">
        <input type="text" name="userId" placeholder="아이디" /> <br>
        <input type="password" name="userPassword" placeholder="비밀번호" /><br>
        <input type="password" name="checkPassword" placeholder="비밀번호 확인" /><br>
        <input type="text" name="userName" placeholder="이름" /><br>
        <input type="text" name="phone" placeholder="전화번호(괄호 없이 적어주세요)" />
        <div>
            <input type="radio" name="class" value="red" />레드
            <input type="radio" name="class" value="blue" />블루
            <input type="radio" name="class" value="green" />그린
            <br>
            <input type="submit" value="Join" />
        </div>
    </form>
</div>